

@font-face{
    font-family: 'Pacifico';
    font-style: normal;
    src: url('/fonts/Pacifico-Regular.ttf');
}


/* Home */
/* Slider */
.slider-home{
    width: auto;
    object-fit: cover;
}
.home_title{
    font-family: 'Pacifico', cursive;
}

.carousel,.carousel-item{
    height: 720px;
    object-fit: cover;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-caption{
    left: 0%;
    right: 0;
    top: 30%;
    bottom: 100%;
}

.bg-coffee{
    background: #dbc1ac;
}

.bg-coffee-trasparent{
    background: #f1ae7769;
}


.Homepage_banner{
    position: relative;
}


.home_title{
    font-family: 'Pacifico', cursive;
    color: white;
}
/* Detail */
.Detail_image{
    height: 320px;
    width: auto;
    object-fit: cover;
}